
/***********************************************************************************************/
/*  Responsive/adaptive stuff */
/***********************************************************************************************/

/** 980* 1280 **/
@media only screen and (min-width: 960px) and (max-width: 980px){

	
}


/* Smaller than standard 960 (devices and browsers) */
@media only screen and(max-width:959px){
	
}

/* Tablet Portrait size to standard 960 (devices and browsers)  800*1280 , 768*1024 */
@media only screen and (min-width: 768px) and (max-width: 991px) {
	
h1 {
  font-size: 56px;
  line-height: 64px;
}
h2 {
  font-size: 26px;
}
.header-top {
  margin-bottom: 120px;
  margin-top: 40px;
  position:relative;
}
.header-bottom.text-center {
  margin-top: 168px;
}
.content-area {
  margin-bottom: 123px;
  overflow: hidden;
}
.straight-forward-area > h2 {
  margin-bottom: 64px;
  margin-top: 112px;
}
.slider-article {
  padding: 0 70px;
}
.my-slide {
  min-height: 488px;
}
.forward {
  margin-bottom: 128px;
  min-height: 385px;
  padding: 32px 15px;
}
.content-common-class {
  padding: 80px 45px 50px;
}
.document-right {
  float: right;
  height: 217px;
  margin-top: 42px;
  overflow: hidden;
  padding: 0 15px;
  width: 220px;
}
.document-right.text-center > h2 {
  font-size: 36px;
  margin-top: 78px;
}
.document-left img {
  height: 29px;
}
.document-left input {
  width: 272px;
}


}
/* All Mobile Sizes (devices and browser) 360*640 */
@media only screen and (max-width: 767px) {



}
/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and (min-width: 480px) and (max-width: 767px) {
h1 {
  font-size: 32px;
  line-height: 38px;
}
h2{
	font-size:18px;
}
	p{
		font-size:14px;
		line-height:21px;
	}
header {
  background: #f4f5f8 none repeat scroll 0 0;
}
.header-top {
  margin-bottom: 80px;
  margin-top: 40px;
}
.header-middle h1 {
  margin-bottom: 13px;
  text-transform: uppercase;
  text-align: center;
}
.header-middle > p {
  font-size: 14px;
  font-weight: normal;
  text-align: center;
}
.header-middle > button {
  display: block;
  font-size: 16px;
  height: 48px;
  margin: 0 auto;
  width: 180px;
}
.header-bottom.text-center {
  margin-top: 60px;
}
.header-bottom.text-center > p {
  width: 450px;
}
.logo {
  margin-top: 10px;
  position: relative;
  text-align: center;
}
.logo img {
  margin: 0 auto;
}
.menu-icon {
  cursor: pointer;
  left: 35px;
  position: absolute;
  top: 10px;
}
.menu-icon-cross {
  cursor: pointer;
  height: 20px;
  left: 34px;
  position: absolute;
  top: 40px;
}
.menu-icon-cross > img {
  height: 100%;
}
nav ul li {
  float: none;
}
nav {
  display: block;
  float: left;
  margin-top: 40px;
}
.content-top {
  display: block;
  border-bottom: none;
}
.content-image {
  height: 58px;
  margin: 0 auto;
  width: 50px;
}
.content-common-class {
  border-bottom: 1px solid #e1e6f0;
  border-right: medium none;
  display: block;
  float: none;
  margin: 0 20px;
  overflow: hidden;
  padding: 25px 0;
  text-align: center;
  width: 92%;
}
.straight-forward {
  background-image: url("../img/bg-2.png");
}
.forward {
  background: #ffffff none repeat scroll 0 0;
  border-color: currentcolor currentcolor #e1e6f0;
  border-style: none none solid;
  border-width: medium medium 1px;
  margin-bottom: 0;
  min-height: auto;
  padding: 20px 0;
}
.straight-forward-area > h2 {
  margin-bottom: 5px;
  margin-top: 30px;
}
.forward > a {
  display: block;
  margin-bottom: 20px;
}
.border-xs-none{
	border-bottom:none;
}
.different-color {
  font-size: 14px !important;
  opacity: 0.3;
}
.content-area {
  margin-bottom: 43px;
}
.content-bottom div:last-child {
  border-bottom: none;
}
	
/*slider-area*/
.slider-article > h2 {
  font-family: "Lora",serif;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 16px;
  margin-top: 30px;
}
.my-slide {
  height: 330px;
}
.slider-article {
  padding: 0 25px;
}
	
.document-right {
  height: 183px;
  margin: 95px auto 20px;
  width: 185px;
}

.document-right.text-center > h2 {
  font-size: 28px;
  margin-top: 70px;
}
.document-right.text-center > p {
  margin-top: 9px;
}
.document-left > h2 {
  margin-bottom: 8px;
  text-align: center;
}
.document-left > p {
  margin-bottom: 30px;
  text-align: center;
}
.document-left > ul > li {
  margin-right: 22px;
}
.document-left > ul {
  margin: 0 auto 50px;
  width: 447px;
}
.document-left form {
  width: 448px;
  margin: 0 auto;
}
.document-left input {
  width: 327px;
}
.flawless-documents-area {
  margin-bottom: 48px;
}
footer {
  background: #000000 url("../img/footer-bg.png") no-repeat scroll center bottom / 100% auto;
}
.footer-list a img {
  height: auto;
  margin-bottom: 10px;
  width: 110px;
}
footer ul {
  list-style: outside none none;
  margin: 9px 0;
  padding: 0;
}
.footer-area {
  margin-bottom: 70px;
  margin-top: 40px;
}
.footer-area {
  margin-bottom: 70px;
  margin-left: 5px;
  margin-top: 40px;
}
footer ul li a {
  font-size: 14px;
}.mainmenu {
  background:#F7F7FA;
  display: none;
  height: auto;
  left: 0;
  overflow: hidden;
  padding: 35px 10px;
  position: absolute;
  top: -70px;
  width: 100%;
  z-index: 1;
}
header .active {
  margin-left: 20px;
  margin-top: 15px;
}
nav ul li {
  float: none;
}
.my-slide {
  min-height: 330px;
}
.forward > h2 {
  margin-bottom: 5px;
}
.different-size{
	font-size:14px;
	opacity:0.3;
}
.forward > h4 {
  color: #23262b;
  line-height: 20px;
}
.straight-forward {
 background: #fff url("../img/bg-2.png") left center / auto 100%;
}
.forward {
 background: none;
}
}

/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) 320*480  */
@media only screen and (max-width: 479px) {
h1 {
  font-size: 32px;
  line-height: 38px;
}
h2{
	font-size:18px;
}
	p{
		font-size:14px;
		line-height:21px;
	}
header {
  background: #f4f5f8 none repeat scroll 0 0;
  position:relative;
}
.header-top {
  margin-bottom: 80px;
  margin-top: 40px;
}
.header-middle h1 {
  margin-bottom: 13px;
  text-transform: uppercase;
  text-align: center;
}
.header-middle > p {
  font-size: 14px;
  font-weight: normal;
  text-align: center;
}
.header-middle > button {
  display: block;
  font-size: 16px;
  height: 48px;
  margin: 0 auto;
  width: 180px;
}
.header-bottom.text-center {
  margin-top: 60px;
}
.header-bottom.text-center > p {
  width: 95%;
}
.logo {
	margin-top:10px;
  text-align: center;
  position: relative;
}
.logo img {
  margin: 0 auto;
  margin-top: 8px;
}
.menu-icon {
  cursor: pointer;
  left: 35px;
  position: absolute;
  top: 10px;
}
.menu-icon {
  cursor: pointer;
  left: 35px;
  position: absolute;
  top: 10px;
}
.visible-xs.menu-icon > img {
  height: 15px;
}
nav ul li {
  float: none;
}
nav {
  float: left;
  margin-top: 45px;
}
.content-top {
  display: block;
  border-bottom: none;
}
.content-image {
  height: 58px;
  margin: 0 auto;
  width: 50px;
}
.content-common-class {
  border-bottom: 1px solid #e1e6f0;
  border-right: medium none;
  display: block;
  float: none;
  margin: 0 20px;
  overflow: hidden;
  padding: 25px 0;
  text-align: center;
  width: 80%;
}
.straight-forward {
	
/*  background-image: url("../img/bg-2.png");*/
}
.forward {
  background: #ffffff none repeat scroll 0 0;
  border-color: currentcolor currentcolor #e1e6f0;
  border-style: none none solid;
  border-width: medium medium 1px;
  margin-bottom: 0;
  min-height: auto;
  padding: 20px 0;
}
.straight-forward-area > h2 {
  margin-bottom: 5px;
  margin-top: 30px;
}
.forward > a {
  display: block;
  margin-bottom: 20px;
}
.border-xs-none{
	border-bottom:none;
}
.different-color {
  font-size: 14px !important;
  opacity: 0.3;
}
.content-area {
  margin-bottom: 43px;
}
.content-bottom div:last-child {
  border-bottom: none;
}
	
/*slider-area*/
.slider-article > h2 {
  font-family: "Lora",serif;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 16px;
  margin-top: 30px;
}
.my-slide {
  min-height: 330px;
}
.slider-article {
  padding: 0 25px;
}
	
.document-right {
  height: 183px;
  margin: 95px auto 20px;
  width: 185px;
}

.document-right.text-center > h2 {
  font-size: 28px;
  margin-top: 70px;
}
.document-right.text-center > p {
  margin-top: 9px;
}
.document-left > h2 {
  margin-bottom: 8px;
  text-align: center;
}
.document-left > p {
  margin-bottom: 30px;
  text-align: center;
}
.document-left > ul {
  margin: 0 auto 25px;
  width: 265px;
}
.document-left > ul > li {
  margin: 0 5px;
}
.document-left input {
  font-size: 13px;
  height: 35px;
  width:70%;
}
.document-left button {
  font-size: 14px;
  height: 35px;
  width: 100px;
}
.flawless-documents-area {
  margin-bottom: 48px;
}
footer {
  background: #000000 url("../img/footer-bg.png") no-repeat scroll center bottom / 100% auto;
}
.footer-list a img {
  height: auto;
  margin-bottom: 10px;
  width: 110px;
}
footer ul {
  list-style: outside none none;
  margin: 9px 0;
  padding: 0;
}
.footer-area {
  margin-bottom: 70px;
  margin-top: 40px;
}
.footer-area {
  margin-bottom: 70px;
  margin-left: 5px;
  margin-top: 40px;
}
footer ul li a {
  font-size: 14px;
}
.document-left img {
   height: 25px;
   margin-bottom: 15px;
   margin-top: 15px;
   width: auto;
}
.header-top{
	position:relative;
}
.mainmenu {
  background:#F7F7FA;
  display: none;
  height: auto;
  left: 0;
  overflow: hidden;
  padding: 35px 10px;
  position: absolute;
  top: -70px;
  width: 100%;
  z-index: 1;
}
header .active {
  margin-left: 20px;
  margin-top: 15px;
}
.menu-icon-cross {
  cursor: pointer;
  height: 20px;
  left: 34px;
  position: absolute;
  top: 40px;
}
.menu-icon-cross > img {
  height: 100%;
}
nav ul li {
  float: none;
}
.my-slide {
  min-height: 388px;
}
.forward > h2 {
  margin-bottom: 5px;
}
.different-size{
	font-size:14px;
	opacity:0.3;

}
.forward > h4 {
  color: #23262b;
  line-height: 20px;
}
.straight-forward {
 background: #fff url("../img/bg-2.png") left center / auto 100%;
}
.forward {
 background: none;
}
}